{% extends 'base.html' %}

{% block content %}
    {% include 'partial/simple_search.html' %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
<h1>List of products</h1>
    <div class="row my-3">
        {% for product in products %}
            <div class="col-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><a
                                href="{% url "webapp:product_view" product.pk %}">{{ product.name }}</a></h5>
                        <p class="card-text">Категория: {{ product.get_category_display }}</p>
                        <p class="card-text">Осталось: {{ product.remainder }} по {{ product.price }} $</p>
                        <div class="btn-group">
                            {% if perms.webapp.change_product %}
                            <a class="btn btn-primary" href="{% url 'webapp:product_update' product.pk %}">Изменить</a>
                            {%  endif %}
                            {% if perms.webapp.delete_product %}
                            <a class="btn btn-danger" href="{% url 'webapp:product_delete' product.pk %}">Удалить</a>
                            {%  endif %}
                        </div>
                        {% include "partial/cart_add_form.html" %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
