{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'product_update' product.pk %}">Update Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'product_delete' product.pk %}">Delete Product</a>
    </li>
{% endblock %}
{% block content %}
    <p>{{ product.name }} | {{ product.get_category_display }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Remainder: {{ product.remainder }}</p>
    <form>
        {% csrf_token %}
        <input type="text" value="" name="product">
        <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart">
    </form>
    <a href="{% url 'index' %}">Return to list of products</a>
{% endblock %}